json_Node-Red
[{"id":"aba2caa9.75e8b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7e82da4a.432e44","type":"ui_form","z":"aba2caa9.75e8b8","name":"","label":"","group":"39c76308.1902ac","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"Name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"Email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"Password","type":"password","required":true,"rows":null}],"formValue":{"Name":"","Email":"","Password":""},"payload":"","submit":"Create","cancel":"Cancel","topic":"","x":190,"y":120,"wires":[["8ad4d38f.21dd1","7cb45d7e.7dded4"]]},{"id":"8ad4d38f.21dd1","type":"debug","z":"aba2caa9.75e8b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":60,"wires":[]},{"id":"7cb45d7e.7dded4","type":"function","z":"aba2caa9.75e8b8","name":"","func":"msg.payload={\n    _id:msg.payload.Email,\n    Name:msg.payload.Name,\n    Email:msg.payload.Email,\n    Password:msg.payload.Password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":200,"wires":[["c5a119.83cedee8"]]},{"id":"c5a119.83cedee8","type":"cloudant out","z":"aba2caa9.75e8b8","name":"reg_db cloudant","cloudant":"","database":"reg_db","service":"node-red-pkhfh-2020--cloudant-1597404406576-99712","payonly":true,"operation":"insert","x":640,"y":200,"wires":[]},{"id":"fcb9e394.76916","type":"ui_form","z":"aba2caa9.75e8b8","name":"","label":"","group":"4f8f6c69.e80604","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"Email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"Password","type":"password","required":true,"rows":null}],"formValue":{"Email":"","Password":""},"payload":"","submit":"Login","cancel":"cancel","topic":"","x":200,"y":320,"wires":[["d1ac52a7.3a1f6"]]},{"id":"d1ac52a7.3a1f6","type":"function","z":"aba2caa9.75e8b8","name":"","func":"global.set('Email',msg.payload.Email);\nglobal.set('Password',msg.payload.Password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":320,"wires":[["2540bb00.e2c2a4"]]},{"id":"2540bb00.e2c2a4","type":"function","z":"aba2caa9.75e8b8","name":"","func":"var Email=global.get('Email');\nmsg.payload-\"Email:\"+Email;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":320,"wires":[["25707094.60627"]]},{"id":"25707094.60627","type":"cloudant in","z":"aba2caa9.75e8b8","name":"","cloudant":"","database":"reg_db","service":"node-red-pkhfh-2020--cloudant-1597404406576-99712","search":"_idx_","design":"user_cred","index":"user_cred","x":780,"y":320,"wires":[["dd48d960.243078"]]},{"id":"dd48d960.243078","type":"function","z":"aba2caa9.75e8b8","name":"vertification","func":"if(msg.payload[0].Password===global.get('Password')){\n    msg.payload='Login Successful';\n}\nelse{\n    msg.payload='Logiin ka bhosda'\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":320,"wires":[["cd954fb0.d1598","9cc4fa23.427388"]]},{"id":"cd954fb0.d1598","type":"debug","z":"aba2caa9.75e8b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":960,"y":460,"wires":[]},{"id":"9cc4fa23.427388","type":"ui_text","z":"aba2caa9.75e8b8","group":"4f8f6c69.e80604","order":1,"width":0,"height":0,"name":"","label":"Login Successful","format":"{{msg.payload}}","layout":"row-spread","x":1270,"y":320,"wires":[]},{"id":"97147f5b.8cd5f","type":"ui_form","z":"aba2caa9.75e8b8","name":"","label":"","group":"bc1578ae.9c6658","order":0,"width":0,"height":0,"options":[{"label":"User Input","value":"Input","type":"text","required":true,"rows":null}],"formValue":{"Input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":200,"y":580,"wires":[["36019668.a5fcaa"]]},{"id":"36019668.a5fcaa","type":"function","z":"aba2caa9.75e8b8","name":"","func":"msg.payload = msg.payload.Input;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":600,"wires":[["e2e946d2.12bdc8"]]},{"id":"e2e946d2.12bdc8","type":"watson-conversation-v1","z":"aba2caa9.75e8b8","name":"","workspaceid":"a6adfa8b-c9d1-477d-bfa2-41fab9272396","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/685e7b39-5dbc-49ee-8515-9dd4b278b0a4","timeout":"","optout-learning":false,"x":620,"y":600,"wires":[["5e6aa88e.8a4918"]]},{"id":"5e6aa88e.8a4918","type":"debug","z":"aba2caa9.75e8b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":620,"wires":[]},{"id":"39c76308.1902ac","type":"ui_group","z":"","name":"Registration Form","tab":"922bce82.eeda4","order":1,"disp":true,"width":"6","collapse":false},{"id":"4f8f6c69.e80604","type":"ui_group","z":"","name":"Login","tab":"105a30f7.7c7f8f","order":1,"disp":true,"width":"6","collapse":false},{"id":"bc1578ae.9c6658","type":"ui_group","z":"","name":"BOTbolte","tab":"ba9236d4.b603b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"922bce82.eeda4","type":"ui_tab","z":"","name":"Registration Tab","icon":"dashboard","disabled":false,"hidden":false},{"id":"105a30f7.7c7f8f","type":"ui_tab","z":"","name":"Login","icon":"dashboard","disabled":false,"hidden":false},{"id":"ba9236d4.b603b8","type":"ui_tab","z":"","name":"Support","icon":"dashboard","disabled":false,"hidden":false}]
